
body {
    background-color: #fce0e6; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    flex-direction: column;
}

h3 {
    color: #d81b60; 
    text-align: center;
    margin-bottom: 20px;
}


select {
    background-color: #ffffff; 
    border: 1px solid #d81b60; 
    border-radius: 8px; 
    padding: 10px;
    color: #d81b60; 
    font-size: 1.1em;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

select:focus {
    background-color: #fce0e6; 
    border-color: #e91e63; 
    outline: none; 
}

select option {
    padding: 10px;
}

.container {
    background-color: #ffffff; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px;
    margin: auto; 
}


.button-container {
    text-align: center; 
    margin-top: 30px; 
}

select {
    margin-bottom: 30px; 
}


.mt-4 {
    margin-top: 30px;
}
